<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/assets/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/theme-nearblack.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div class="nav-container">
		    <nav>
		        <div class="nav-bar">
		            <div class="module left">
		                <a href="/">
		                    <img class="logo logo-light" alt="Foundry" src="/assets/img/logo-light.png">
		                    <img class="logo logo-dark" alt="Foundry" src="/assets/img/logo-dark.png">
		                </a>
		            </div>
		            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
		                <i class="ti-menu"></i>
		            </div>
		            <div class="module-group right">
		                <div class="module left">
		                    <ul class="menu">
		                        <li><a href="/">HOME</a></li>
                            <li><a href="/blog">BLOG<br></a></li>
                            <li><a href="/about">THE CLUB<br></a></li>
                            <li><a href="/contact">CONTACT US<br><br></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </nav>
